.bg9 {
  background: linear-gradient(#3a63d1, #6d91ff00, #3a63d1),
    url("/src/assets/bgspe.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.speakBlock_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.speakBlock_title {
  margin-top: 7rem;
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 7rem;
}
.speakList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.speakBlock_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 15%;
  background: linear-gradient(
    180deg,
    rgba(75, 199, 251, 0.7) 0%,
    rgba(145, 45, 218, 0.7) 100%
  );
  padding: 2rem 1rem;
}
.speakBlock_card > h3 {
  font-weight: 600;
  font-size: 1.2rem;
}
.speakBlock_card > p {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 0.8rem;
}
.speakBlock_circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-size: contain;
  margin-bottom: 2rem;
}

.showBlock_main {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.showBlock_img {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.showBlock_img > img {
  width: 20vmax;
  margin: 0 auto;
}
.showBlock_title {
  font-family: 900;
  font-size: 4rem;
}
.showBlock_title2 {
  margin-top: 4rem;
  font-family: 600;
  font-size: 1.5rem;
}
.showSwip {
  margin-top: 2rem;
  padding: 3rem 0;
  height: 70vh;
}
.swiper-slide {
  display: flex;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.swiper-slide > img {
  /* width: 100%; */
  height: 100%;
}
.swiper-button-next {
  margin-left: 5rem;
}
.swiper-button-prev {
  margin-right: 5rem;
}
@media screen and (max-width: 1024px) {
  .speakList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .speakBlock_card {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .showSwip {
    width: 90%;
    height: 40vh;
  }
  .speakList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .speakBlock_card {
    width: 80%;
    margin: 0 auto;
  }

  .showBlock_title,
  .speakBlock_title {
    font-size: 3rem;
    text-align: center;
  }
  .showBlock_img {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .showBlock_img > img {
    width: 20vmax;
  }
}
@media screen and (max-width: 550px) {
  .showBlock_img {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .showBlock_img > img {
    width: 26vmax;
  }
}
@media screen and (max-width: 425px) {
  .infoEsp {
    display: flex;
    flex-direction: column;
  }
  .showBlock_title,
  .speakBlock_title {
    font-size: 2rem;
    text-align: center;
  }
  .showBlock_img {
    gap: 1rem;
  }
  .showBlock_img > img {
    width: 20vmax;
  }
}
