.bg9 {
  background: linear-gradient(#3a63d1, #6d91ff00, #3a63d1),
    url("/src/assets/bgspe.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.speakBlock_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.speakBlock_title {
  margin-top: 7rem;
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 7rem;
}
.speakList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.speakBlock_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
  background: linear-gradient(
    180deg,
    rgba(75, 199, 251, 0.7) 0%,
    rgba(145, 45, 218, 0.7) 100%
  );
  padding: 2rem 1rem;
}
.speakBlock_card > h3 {
  font-weight: 600;
  font-size: 1.2rem;
}
.speakBlock_card > p {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 0.8rem;
}
.speakBlock_circle {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 2rem;
}

.showBlock_main {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.showBlock_img {
  margin-top: 2rem;
  margin-bottom: 9rem;
  width: 100%;
}
.showBlock_title {
  font-family: 900;
  font-size: 4rem;
}
.showBlock_title2 {
  margin-top: 4rem;
  font-family: 600;
  font-size: 1.5rem;
}
.showBlock_info {
  width: 100%;
  height: 8rem;
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  backdrop-filter: blur(15px);
  position: relative;
  z-index: 2;
}
.infoEsp_block {
  display: flex;
  flex-direction: column;
}
.showBig_text {
  font-size: 4rem;
}
.espG {
  font-size: 5rem;
}
.show1 {
  background: linear-gradient(180deg, #ff282880, #c8c10480);
}
.show2 {
  background: linear-gradient(180deg, #e4e4e480, #9c2c0a80);
}
.show3 {
  background: linear-gradient(180deg, #00ffd080, #8913ff80);
}
.show4 {
  background: linear-gradient(180deg, #faff0080, #ff330680);
}
.show5 {
  background: linear-gradient(180deg, #00ff9480, #ff883180);
}
.show6 {
  background: linear-gradient(180deg, #fd27db80, #ffa03180);
}
.show7 {
  background: linear-gradient(180deg, #ff50a480, #20ffd780);
}
.show8 {
  background: linear-gradient(180deg, #2979ef, #000b1c);
}
.showimg {
  /* position: absolute; */
}
.showimg11 {
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 20%;
}
.showimg12 {
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 20%;
}
.showimg21 {
  position: absolute;
  width: 15%;
  left: 20%;
  bottom: 0;
}
.showimg22 {
  position: absolute;
  right: 20%;
  width: 15%;
}
.showimg31 {
  position: absolute;
  left: 20%;
  width: 13%;
}
.showimg32 {
  position: absolute;
  right: 20%;
  width: 13%;
}
.showimg41 {
  position: absolute;
  width: 18%;
  left: 20%;
}
.showimg42 {
  position: absolute;
  width: 20%;
  right: 18%;
}
.showimg51 {
  position: absolute;
  width: 18%;
  left: 20%;
  bottom: 0;
}
.showimg52 {
  position: absolute;
  width: 18%;
  right: 20%;
  bottom: 0;
}
.showimg6 {
  width: 23%;
}
.showimg62 {
  width: 23%;
  transform: rotateY(180deg);
}

.showimg71 {
  position: absolute;
  bottom: 0;
  width: 20%;
  left: 5%;
  z-index: -1;
}
.showimg72 {
  position: absolute;
  bottom: 0;
  width: 20%;
  right: 5%;
  z-index: -1;
}
.showimg81 {
  position: absolute;
  width: 20%;
  left: 10%;
}
.showimg82 {
  position: absolute;
  width: 20%;
  right: 10%;
}
@media screen and (max-width: 1024px) {
  .speakList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .speakBlock_card {
    width: 80%;
    margin: 0 auto;
  }
  .showimg11,
  .showimg21,
  .showimg31,
  .showimg41,
  .showimg51,
  .showimg61,
  .showimg81 {
    left: 10%;
  }
  .showimg12,
  .showimg22,
  .showimg32,
  .showimg42,
  .showimg52,
  .showimg62,
  .showimg82 {
    right: 10%;
  }
}
@media screen and (max-width: 768px) {
  .speakList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .speakBlock_card {
    width: 80%;
    margin: 0 auto;
  }

  .showBlock_title,
  .speakBlock_title {
    font-size: 3rem;
    text-align: center;
  }
  .espG {
    font-size: 3rem;
  }
}
@media screen and (max-width: 590px) {
  .showBlock_info {
    font-size: 1.6rem;
  }
  .showBig_text {
    font-size: 3rem;
  }
}
@media screen and (max-width: 425px) {
  .infoEsp {
    display: flex;
    flex-direction: column;
  }
  .showBlock_title,
  .speakBlock_title {
    font-size: 2rem;
    text-align: center;
  }
}
