.bg6 {
  background: linear-gradient(#28209f, #510ca000, #3a63d1),
    url("/src/assets/bgexpo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.expoBlock_main {
  display: flex;
  flex-direction: row;
}
.expoBlock_main > div {
  width: 50%;
  margin: 7rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expoBlock_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  width: 86%;
  margin-top: 6rem;
  /* margin-bottom: 15rem;   */
  font-size: 1.2rem;
  padding: 2rem 0;
}
.expoBlock_info > ul {
  width: 80%;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.expoBlock_info > h3 {
  font-size: 2rem;
}
.expoBlock_info > h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-decoration: line-through;
}
.expoBlock_info > h5 {
  font-size: 1.3rem;
}
.infoBlock1 {
  border: 4px solid #d6d6d6;
  background: linear-gradient(
    180deg,
    rgba(188, 193, 194, 0.7) 0%,
    rgba(113, 112, 108, 0.7) 100%
  );

  backdrop-filter: blur(5px);
}
.infoBlock2 {
  border: 4px solid #ffe599;
  background: linear-gradient(
    180deg,
    rgba(255, 207, 64, 0.8) 0%,
    rgba(166, 124, 0, 0.8) 100%
  );

  backdrop-filter: blur(5px);
}
.expoCassa {
  position: absolute;
  left: -5rem;
  top: -6rem;
}
.expoSale_img {
  position: absolute;
  right: -4rem;
  top: -1rem;
  width: 10rem;
}
.expoBtn {
  width: 20rem;
  height: 2.5rem;
  margin-bottom: 5rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #8007ca;
  color: white;
  transition: 0.4s;
}
.expoBtn:hover {
  background-color: #aa37f1;
  color: white;
}
.expoBtn_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1370px) {
  .expoBlock_img {
    width: 90%;
    margin: 0 auto;
  }
  /* .expoCassa {
    width: 40%;
  } */
  .expoBlock_info > ul {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .expoBlock_info > h3 {
    font-size: 2rem;
  }
  .expoBlock_info > h5 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .expoBlock_img {
    width: 90%;
    margin: 0 auto;
  }
  .expoCassa {
    width: 40%;
    left: -3rem;
    top: -5rem;
  }
  .expoBlock_info > ul {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .expoBlock_info > h3 {
    font-size: 2rem;
  }
  .expoBlock_info > h5 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 900px) {
  .expoBlock_main {
    flex-direction: column;
  }
  .expoSale_img {
    right: -4rem;
    bottom: -7.3rem;
    width: 10rem;
  }
  .expoBlock_info {
    margin-bottom: 0;
    height: auto;
  }
  .expoBlock_main > div {
    padding: 0;
    margin: 0 auto;
    margin-top: 10rem;

    width: 100%;
  }
  .expoBtn {
    margin: 5rem 0;
  }
  .expoBlock_img {
    width: 90%;
    margin: 0 auto;
  }
  .expoCassa {
    width: 30%;
    left: -3rem;
    top: -5rem;
  }
  .expoBlock_info > ul {
    width: 80%;
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .expoBlock_info > h3 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 570px) {
  .expoSale_img {
    right: -2rem;
    width: 6rem;
  }
  .expoCassa {
    left: -3rem;
    top: -5rem;
  }
  .expoBlock_info > ul {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}
@media screen and (max-width: 425px) {
  .expoSale_img {
    right: -2rem;
    width: 6rem;
  }
  .expoCassa {
    width: 50%;
    left: -2rem;
    top: -5rem;
  }
  .expoBlock_info > ul {
    width: 80%;
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .expoBlock_info > h3 {
    font-size: 2.1rem;
  }
}
