.chooseRole_block {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #e19df980;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  padding: 1rem 2rem;
}
.chooseRole_block > h2 {
  margin: 2rem 0;
}
.chooseRole_block > h3 {
  margin-bottom: 2rem;
}
.chooseRole_choice {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  gap: 1rem;
  color: #6414c0;
}
.choice1,
.choice2,
.choice3,
.choice4,
.choice5 {
  background-color: #ffffffdd;
  height: 13rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}
.choice1:hover,
.choice2:hover,
.choice3:hover,
.choice4:hover,
.choice5:hover {
  box-shadow: 0px 5px 10px rgb(75, 75, 75);
}
/* .choice1 {
  grid-column: 1/4;
}
.choice2 {
  grid-column: 4/7;
}
.choice3 {
  grid-column: 1/3;
}
.choice4 {
  grid-column: 3/5;
}
.choice5 {
  grid-column: 5/7;
} */
@media screen and (max-width: 768px) {
  .chooseRole_choice {
    /* grid-template-columns: repeat(2, 1fr) !important; */
    grid-template-columns: repeat(1, 1fr) !important;
  }
  /* .choice1 {
    grid-column: auto !important;
    height: 8rem !important;
  }
  .choice2 {
    grid-column: 1/3 !important;
    height: 8rem !important;
  }
  .choice3 {
    grid-column: auto !important;
    height: 8rem !important;
  }
  .choice4 {
    grid-column: auto !important;
    height: 8rem !important;
  }
  .choice5 {
    grid-column: auto !important;
    height: 8rem !important;
  } */
}
@media screen and (max-width: 425px) {
  .chooseRole_choice {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  /* .choice1 {
    grid-column: auto !important;
    height: 8rem !important;
  }
  .choice2 {
    grid-column: auto !important;
    height: 8rem !important;
  }
  .choice3 {
    grid-column: auto !important;
    height: 8rem !important;
  }
  .choice4 {
    grid-column: auto !important;
    height: 8rem !important;
  }
  .choice5 {
    grid-column: auto !important;
    height: 8rem !important;
  } */
}
