.firstBlock_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 5rem; */
  padding-top: 5rem;
  padding-bottom: 4rem;
}
.bg1 {
  background: linear-gradient(#3b2069, #4c278494, #3b2069),
    url("/src/assets/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  /* position: relative;
  top: -5rem; */
}
.firstBlock_logo {
  z-index: 2;
  width: 40%;
}
.firstMain_text {
  width: 50%;
  font-size: 2.5em;
  font-weight: 800;
  text-align: center;
  /* text-justify: inter-cluster; */
  z-index: 3;
}
.firstMain_text > p {
  width: 100%;
}
.firstMain_text > h2 {
  width: 100%;
  font-size: 2.5em;
}
#firstDate {
  font-weight: 600;
  font-size: 0.7em;
}

@media screen and (max-width: 1345px) {
  .firstMain_text {
    font-size: 2em;
  }
  .firstMain_text > p {
    font-size: 1em;
  }
  .firstMain_text > h2 {
    font-size: 2em;
  }
  #firstDate {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 768px) {
  .firstMain_text {
    font-size: 2em;
    width: 100%;
  }
  .firstMain_text > p {
    font-size: 1em;
  }
  .firstMain_text > h2 {
    font-size: 2em;
  }
  #firstDate {
    font-size: 1em;
  }
  .firstBlock_main {
    flex-direction: column;
  }
  .bg1 {
    background-size: cover;
    background-position: center;
  }
  .firstBlock_logo {
    width: 55%;
  }
}
@media screen and (max-width: 450px) {
  .firstMain_text {
    font-size: 1.2em;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .firstMain_text {
    font-size: 1em;
    width: 100%;
  }
}
