.firstBlock_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 5rem; */
  height: calc(100vh - 6rem);
}
.bg1 {
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.firstBlock_logo {
  z-index: 2;
  width: 40%;
}

.fs1 {
  background: linear-gradient(90deg, #800bf5, #25c6f9);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.firstMain_text {
  width: 50%;
  font-family: "Russo One", sans-serif !important;

  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
  z-index: 3;
}
.firstMain_text > p {
  width: 100%;
}
.firstMain_text > h2 {
  width: 100%;
  font-size: 2.5em;
}
#firstDate {
  font-weight: 400;
  font-size: 0.7em;
}
.secondBlock_org {
  text-align: center;
  font-family: "Russo One", sans-serif;
  z-index: 2;
  position: relative;
  margin-bottom: 7rem;
}
.secondBlock_text {
  margin-bottom: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2rem;
}

.secondBlock_sponsors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.secondBlock_sponsors > img {
  width: 5rem;
}
.logobig {
  width: 6rem !important;
}
.logopat2 {
  width: 17rem !important;
}
.logopat {
  width: 10rem !important;
}
.logobigb {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.logobigbb {
  width: 12rem;
}
.logobigbb2 {
  width: 9rem;
}
.logobigm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

.mainBgColor {
  position: absolute;
  top: 20;
  width: 90%;
  z-index: 1;
}

@media screen and (max-width: 1345px) {
  .firstMain_text {
    font-size: 2em;
  }
  .firstMain_text > p {
    font-size: 1em;
  }
  .firstMain_text > h2 {
    font-size: 2em;
  }
  #firstDate {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1024px) {
  .logobigbb {
    width: 7rem;
  }
  .logobigbb2 {
    width: 4rem;
  }
}
@media screen and (max-width: 930px) {
  .secondBlock_sponsors > img {
    margin: 2rem;
    /* flex-direction: column; */
  }
  .logopat,
  .logopat2 {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .logobigb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  #kia {
    order: 4;
  }
  #ros {
    order: 3;
  }
  #mer {
    order: 2;
  }
  #jkm {
    order: 1;
  }
  .logobigbb,
  .logobigbb2 {
    margin: 0 auto;
  }
  .firstMain_text {
    font-size: 2em;
    width: 100%;
  }
  .firstMain_text > p {
    font-size: 1em;
  }
  .firstMain_text > h2 {
    font-size: 2em;
  }
  #firstDate {
    font-size: 1em;
  }
  .firstBlock_main {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .bg1 {
    background-size: cover;
    background-position: center;
  }
  .firstBlock_logo {
    width: 55%;
  }
}
@media screen and (max-width: 450px) {
  .firstMain_text {
    font-size: 1.5em;
    width: 100%;
  }

  .firstBlock_logo {
    width: 100%;
  }
  .logopat {
    width: 6rem !important;
  }
  .logopat2 {
    width: 10rem !important;
  }
}
@media screen and (max-width: 375px) {
  .firstMain_text {
    font-size: 1em;
    width: 100%;
  }
}
