.container {
  font-family: "PT Sans", sans-serif;
}
.fs2 {
  font-size: 2rem;
  background: linear-gradient(180deg, #99f1ff 0%, #8d8def 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.secondBlock_el {
  position: absolute;
}
.secondBlock_title {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2rem;
  margin: 2rem 0;
  font-family: "Russo One", sans-serif;
}
.secondInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.secondBlock_video {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.secondBlock_video > div {
  width: 40%;
  font-size: 1.5rem;
  font-weight: bold;
}
.secondBlock_video > div > p {
  margin-top: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .secondViedo {
    width: 100% !important;
  }

  .secondBlock_video > div {
    width: 45%;
  }
  .secondInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .secondBlock_video {
    flex-direction: column;
  }
  .secondBlock_video > div {
    width: 100%;
  }
  .secondViedo {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 425px) {
  .secondInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
  }
  .numend {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .secondBlock_video {
    flex-direction: column;
  }
  .secondBlock_video > div {
    width: 100%;
  }
  .secondViedo {
    margin-bottom: 2rem;
  }
}
