/* .bg7 {
  background: linear-gradient(#3a63d1, #6d91ff00, #3a63d1),
    url("/src/assets/bgab.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.expoAbout {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
  width: 90%;
}
.expoAbout_div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 2rem 2rem 0 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.swiper-slide {
  margin: 0 auto;
}
.expoAbout_div > h2 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.exp1 > p {
  margin-bottom: 1rem;
}

.expTextBold {
  font-weight: 700;
}
.exp3 {
  line-height: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .expoAbout {
    flex-direction: column;
  }
  .expoAbout_div {
    width: 100%;
    font-size: 1.3rem;
    padding: 0;
  }
  .exp1,
  .exp3 {
    background: linear-gradient(
      180deg,
      rgba(135, 22, 202, 0.8) 0%,
      rgba(42, 13, 138, 0.8) 100%
    );
    padding: 2rem 0;
  }
  .exp1 > p,
  .exp3 > ul,
  .exp2 > p {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 425px) {
  .exp1 > p,
  .exp2 > p {
    padding: 0 1rem;
    font-size: 1rem;
  }
  .exp3 > ul {
    padding: 0 2rem;
    font-size: 1rem;
  }
} */
