.packetMain_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 3px solid #800BF5;
  border-radius: 70px;
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  font-family: "Montserrat", sans-serif;
}
.packet_Main_text {
  position: absolute;
  top: -1rem;
  background-color: #14063d;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.packetVariants {
  display: grid;
  grid-template-columns: repeat(2,45%);
  gap: 4rem;
  width: 90%;
  margin: 0 auto;
}

.packetVar_text {
  font-family: "Inter", sans-serif;
  font-style: italic;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.pack2block{
  display: flex;
  align-items: center;
  justify-content: center;
}

.packetBtn {
  font-weight: 600;
  width: 100%;
  margin-bottom: 1rem;
  height: 2.5rem;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pack1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pack1block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.packeInfo{
  font-weight: 600;
  font-size: 1.2rem;
}
.packetImg2{
  width: 10rem;
}
.packBtn1 {
  background: linear-gradient(90deg, #800BF5, #25C6F9);
}
.alert2{
  position: fixed;
  z-index: 120;
  top: 1rem;
}

@media screen and (max-width:1240px) {
  .packetImg3{
    width: 100%;
  }
}
@media screen and (max-width:1024px) {
  .packetImg2{
    width: 7rem;
  }
  .packetImg3{
    width: 100%;
  }
  .pack1{
    flex-direction: column;
   margin: 1rem 0;
  }
  .packeInfo{
    font-size: 1rem;
  }
}
@media screen and (max-width:768px) {
  .packetVariants{
    display: flex;
    flex-direction: column-reverse;
  }
  .packetImg2{
    width: 7rem;
  }
  .packetImg3{
    width: 100%;
  }
  .pack1{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .packeInfo{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .packet_Main_text{
    font-size: 1.3rem;
  }
}
@media screen and (max-width:543px) {

  .packet_Main_text{
    font-size: 1rem;
  }
  .packetMain_block
  {
    padding: 2rem;
  }
  .pack1>h2{
    font-size: 1.2rem;
  }
}
@media screen and (max-width:425px) {

  .packet_Main_text{
    top: -0.6rem;
    font-size: 0.8rem;
  }

}
@media screen and (max-width:375px) {

  .packet_Main_text{
    top: -0.2rem;
  }
  .packetMain_block{
    padding: 1rem ;
    padding-top: 2rem;
    border-radius: 50px;
  }
}