/* .bg8 {
  background: linear-gradient(#3a63d1, #6d91ff00, #3a63d1),
    url("/src/assets/bgwork.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.workList_circle {
  background: linear-gradient(180deg, #00f9ff 0%, #00f9ff 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  position: absolute;
}
.leftImg {
  right: 20%;
}
.rightImg {
  left: 20%;
}
.workList_img {
  width: 4rem;
}
.workBlock_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.workBlock_title {
  margin-top: 3rem;
  margin-bottom: 10rem;
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
}
.workBlock_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  width: 80%;
}
.workList_item {
  background: linear-gradient(
    180deg,
    rgba(247, 71, 242, 0.8),
    rgba(129, 4, 206, 0.8)
  );
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .workList_item > p {
    font-size: 1rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .workBlock_list {
    width: 100%;
  }
  .leftImg {
    right: 15%;
  }
  .rightImg {
    left: 15%;
  }
  .workBlock_title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 750px) {
  .workBlock_list {
    width: 100%;
  }
  .workList_circle {
    transform: scale(0.8);
  }
  .workList_item {
    height: 4rem;
  }
}
@media screen and (max-width: 666px) {
  .workBlock_list {
    width: 100%;
  }
  .workList_circle {
    transform: scale(0.8);
  }
  .workList_item {
    height: 4rem;
  }
  .leftImg {
    right: 10%;
  }
  .rightImg {
    left: 10%;
  }
}
@media screen and (max-width: 530px) {
  .workList_circle {
    transform: scale(0.8);
  }
  .workList_item {
    height: 5rem;
  }
  .itemRight {
    justify-content: end !important;
  }
  .itemLeft {
    justify-content: start !important;
  }
  .workList_item > p {
    margin: 0;
    width: 60%;
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 425px) {
  .workBlock_title {
    font-size: 1.5rem;
  }
} */
.workBlock_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.workBlock_list{
  width: 90%;
  display: grid;
  gap: 1rem;
 grid-template-columns: repeat(5,1fr);
}
.workList_item{
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  /* background: !important; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: 600;
}
.item1{
  background: url(/src/assets/workimg/inv.png), linear-gradient(#348FF6,#6827F1) ;
}
.item2{
  grid-column: 2/4;
  background-image: url(/src/assets/workimg/cyber.png) ,linear-gradient(#348FF6,#6827F1);

}
.item3{
  grid-column: 4/6;
  background-image: url(/src/assets/workimg/author.png) ,linear-gradient(#348FF6,#6827F1);

}
.item4{
  grid-row: 2/3;
  grid-column: 1/3;
  background-image: url(/src/assets/workimg/ownbrand.png) ,linear-gradient(#348FF6,#6827F1);

}
.item5{
  grid-row: 2/3;
  grid-column: 3/5;
  background-image: url(/src/assets/workimg/itprod.png) ,linear-gradient(#348FF6,#6827F1);

}
.item6{
  background-image: url(/src/assets/workimg/ai.png) ,linear-gradient(#348FF6,#6827F1);
  
}.item7{
  background-image: url(/src/assets/workimg/ad.png) ,linear-gradient(#348FF6,#6827F1);
  
}
.item8{
  grid-row: 3/5;
  grid-column: 2/4;
  background-image: url(/src/assets/workimg/manage.png) ,linear-gradient(#348FF6,#6827F1);

}
.item9{
  grid-row: 3/5;
  grid-column: 4/6;
  background-image: url(/src/assets/workimg/inno.png) ,linear-gradient(#348FF6,#6827F1);

}
@media screen and (max-widtH:768px) {
  .workBlock_list{
    width: 90%;
    display: grid;
    gap: 1rem;
   grid-template-columns: repeat(6,1fr);
  }
  .item1{
    height: auto;
    grid-row: 1/3;
    grid-column: 1/3;
  }
  .item2{
    grid-row: auto;
    grid-column: 3/7;
  }
  .item3{
    height: auto;
    grid-row: 3/7;
    grid-column: 1/4;

  }
  .item4{
    grid-row: 3/4;
    grid-column: 4/7;
  }
  .item5{
    grid-row: 2/3;
    grid-column: 3/5;
  }
  .item6{
    grid-row: 2/3;
    grid-column: 5/7;

  }
  .item7{
    grid-row: 7/8;
    grid-column: 1/4;

  }
  .item8{
    height: 15rem;
    grid-row: 4/8;
    grid-column: 4/7;
  }
  .item9{
    grid-row: auto;
    grid-column: 1/7;
  }
}
@media screen and (max-widtH:590px) {
  .workBlock_list{
   grid-template-columns: repeat(1,1fr);
  }
  .item1{
    height: 10rem;
    grid-row:auto;
    grid-column: auto;
  }
  .item2{
    grid-row: auto;
    grid-column: auto;
  }
  .item3{
    height: 10rem;

    grid-row:auto;
    grid-column: auto;

  }
  .item4{
    grid-row:auto;
    grid-column: auto;
  }
  .item5{
    grid-row:auto;
    grid-column: auto;
  }
  .item6{
    grid-row:auto;
    grid-column: auto;

  }
  .item7{
    grid-row:auto;
    grid-column: auto;

  }
  .item8{
    height: 10rem;

    grid-row:auto;
    grid-column: auto;
  }
  .item9{
    grid-row: auto;
    grid-column: auto;
  }
}