/* .bg5 {
  background: linear-gradient(#4d0b92, #510ca000, #28209f),
    url("/src/assets/bgtour.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
}
.tourBlock_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
}
.tourText_block {
  font-weight: 700;
  font-size: 2.4rem;
}
.tourText_bigger {
  font-size: 3.9rem;
}
.tourText_big {
  letter-spacing: 8px;
}
.tourText_small {
  margin: 4rem 0 2rem;
  font-weight: 700;
  font-size: 2rem;
}
.tourBlock_img {
  margin-bottom: 4rem;
}
.tourFork_block {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
  height: 40vmax;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.tourFork_blockParent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.tourFor_img > img {
  width: 14rem;
  cursor: pointer;
  transition: 0.4s;
}
.tourFor_img:hover {
  z-index: 100;
  transform: scale(1.1);
}
.tourFor_img:hover > .imghovBlock {
  height: 100%;
  opacity: 1;
}

.imghovBlock {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 0;
  opacity: 0;
  bottom: 0;
  transition: 0.4s;
}
.tourFor_img:hover > .imghovBlock > * {
  display: block;
}
.imghovBlock > * {
  display: none;
}
.imghovTitle {
  font-weight: 600;
  font-size: medium;
  position: absolute;
  top: 5rem;
}
.imghovInfo {
  position: relative;
}
.imghovBtn {
  position: absolute;
  bottom: -6rem;
  width: 100%;
  background-color: #28209f;
  padding: 0.6rem 0;
  border-radius: 20px;
}
.imghovBlock10 {
  background: #0e55a790;
}
.imghovTextBold {
  font-weight: 700;
  font-size: 1.4rem;
}
.imghovInfo > div {
  margin-bottom: 2rem;
}
.imghovBlock > p {
  margin: 0 1rem;
}
.imghovBlock1 {
  background: #0e53a390;
}
.imghovBlock2 {
  background: #ca4f1f90;
}
.imghovBlock3 {
  background: #ec912690;
}
.imghovBlock4 {
  background: #05689590;
}
.imghovBlock5 {
  background: #027c6f90;
}
.imghovBlock6 {
  background: #3aafa190;
}
.imghovBlock7 {
  background: #293ea790;
}
.tourFor_img {
  transition: 0.4s;
  display: flex;
  flex-direction: column;
}
.tourForkimg0 {
  position: absolute;
  z-index: 4;
  left: 77%;
}
.tourForkimg1 {
  position: absolute;
  z-index: 10;
  left: 5%;
}

.tourForkimg2 {
  position: absolute;
  left: 17%;
  z-index: 9;
}

.tourForkimg3 {
  position: absolute;
  left: 41%;
  z-index: 7;
}

.tourForkimg4 {
  position: absolute;
  left: 29%;
  z-index: 8;
}

.tourForkimg5 {
  position: absolute;
  left: 53%;
  z-index: 6;
}

.tourForkimg6 {
  position: absolute;
  left: 65%;
  z-index: 5;
}
@media screen and (max-width: 1100px) {
  .tourBlock_img {
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .tourFork_block {
    display: none;
  }
  .tourSwiper {
    display: block;
  }
  .tourForkimg01,
  .tourForkimg11,
  .tourForkimg21,
  .tourForkimg31,
  .tourForkimg41,
  .tourForkimg51,
  .tourForkimg61 {
    margin: 0 auto;
    width: 100% !important;
  }
  .tourForkimg0 {
    position: relative;
    left: 0;
    z-index: 11;
  }
  .tourForkimg1 {
    position: relative;
    left: 0;
    z-index: 10;
  }

  .tourForkimg2 {
    position: relative;
    left: 0;
    z-index: 9;
  }

  .tourForkimg3 {
    position: relative;
    left: 0;
    z-index: 8;
  }

  .tourForkimg4 {
    position: relative;
    left: 0;
    z-index: 7;
  }

  .tourForkimg5 {
    position: relative;
    left: 0;
    z-index: 6;
  }

  .tourForkimg6 {
    position: relative;
    left: 0;
    z-index: 5;
  }
}
@media screen and (max-width: 768px) {
  .tourFork_blockParent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
  }

  .tourForkimg01,
  .tourForkimg11,
  .tourForkimg21,
  .tourForkimg31,
  .tourForkimg41,
  .tourForkimg51,
  .tourForkimg61 {
    margin: 0 auto;
    width: 100% !important;
  }
  .tourFork_block > img {
    position: relative;
    width: 100%;
  }
  .tourFork_block > img:hover {
    z-index: 100;
    transform: none;
  }
  .tourForkimg1 {
    left: 0;
    z-index: 10;
  }

  .tourForkimg2 {
    left: 0;
    z-index: 9;
  }

  .tourForkimg3 {
    left: 0;
    z-index: 8;
  }

  .tourForkimg4 {
    left: 0;
    z-index: 7;
  }

  .tourForkimg5 {
    left: 0;
    z-index: 6;
  }

  .tourForkimg6 {
    left: 0;
    z-index: 5;
  }
}
@media screen and (max-width: 570px) {
  .tourForkimg01,
  .tourForkimg11,
  .tourForkimg21,
  .tourForkimg31,
  .tourForkimg41,
  .tourForkimg51,
  .tourForkimg61 {
    margin: 0 auto;
    width: 100% !important;
  }
}
@media screen and (max-width: 425px) {
  .tourText_block {
    font-size: 1.5rem;
  }
  .tourText_bigger {
    font-size: 2rem;
  }
  .tourText_big {
    letter-spacing: 8px;
  }
  .tourText_small {
    font-size: 1.4rem;
  }
  .bg5 {
    padding: 0;
  }
} */
