* {
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Russo One", sans-serif; */
  /* font-family: "PT Sans", sans-serif; */
  /* font-family: "Inter", sans-serif; */
}
body {
  background-color: #14063d;
}
.regBg {
  background-image: url("/src/assets/regBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 3rem 0;
  min-height: calc(100vh - 6rem);
}
.container {
  width: 90%;
  margin: 0 auto;
}
.MuiList-root {
  padding: 0 !important;
}

.MuiDrawer-paperAnchorRight {
  color: white !important;
}

.loadingblock {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
